a {
    color: #95a5a6;
}
.section-title {
    color: #95a5a6;
}
.section-title span:before {
    color: #95a5a6;
}
.post-title a:hover {
    color: #95a5a6
}
.colored {
    color: #95a5a6
}
blockquote small {
    color: #95a5a6;
}
.black-wrapper a:hover {
    color: #95a5a6
}
.color-wrapper {
    background: #95a5a6
}
.meta a:hover,
.more:hover {
    color: #95a5a6
}
.nav > li > a:hover,
.nav > li > a:focus {
    color: #95a5a6;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active {
    color: #95a5a6;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:focus {
    color: #95a5a6;
}
.navbar-header .info a:hover {
    color: #95a5a6
}
.navbar.basic .nav > li > a:hover,
.navbar.basic .nav > li > a:focus,
.navbar.basic .nav .open > a,
.navbar.basic .nav .open > a:hover,
.navbar.basic .nav .open > a:focus {
    color: #95a5a6;
}
.yamm .yamm-content a:hover {
    color: #95a5a6
}
.btn {
    background: #95a5a6;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #859394;
}
.social a:hover .icon-search {
    color: #95a5a6;
    border-color: #95a5a6;
}
.tp-caption .dotted {
    border-bottom: 1px dotted #95a5a6
}
.services .tab:hover .icon i.icn,
.services .tab.active .icon i.icn {
    color: #95a5a6;
    border: 2px solid #95a5a6;
}
.services .tab:hover h4,
.services .tab.active h4 {
    color: #95a5a6
}
.icon i.icn {
    border: 1px solid #95a5a6;
    color: #95a5a6;
}
.step:hover i.icn {
    background-color: #95a5a6;
}
.tabs-side .tab a:hover,
.tabs-side .tab.active a {
    color: #95a5a6
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #95a5a6
}
#testimonials .author {
    color: #95a5a6;
}
#testimonials .tab a.active,
#testimonials .tab a:hover {
    border: 1px solid #95a5a6;
}
.panel-title > a:hover {
    color: #95a5a6
}
.filter li a:hover,
.filter li a.active {
    color: #95a5a6
}
.filter li a:hover:before,
.filter li a.active:before {
    color: #95a5a6
}
.item-details li a:hover {
    color: #95a5a6
}
.share a:hover {
    color: #95a5a6
}
.process li.process-item .number {
    color: #95a5a6;
}
ul.circled li:before {
    color: #95a5a6;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    border: 1px solid #95a5a6;
    color: #95a5a6;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 1px solid #95a5a6
}
.pricing .plan h4 span {
    color: #95a5a6
}
.progress-list li em {
    color: #95a5a6;
}
.progress.plain .bar {
    background: #95a5a6;
}
.recent-list .post .date {
    border: 1px solid #95a5a6;
    color: #95a5a6;
}
.recent-list .format-wrapper {
    background-color: #95a5a6;
}
.format-filter li a:hover,
.format-filter li a.active {
    color: #95a5a6
}
.classic-blog .post .date {
    color: #95a5a6;
    border: 1px solid #95a5a6;
}
.classic-blog .post a.date:hover {
    background-color: #95a5a6;
}
.classic-blog .posts .format-wrapper {
    background-color: #95a5a6;
}
.sidebox a:hover {
    color: #95a5a6
}
.border-list li a:hover {
    color: #95a5a6
}
.border-list li:hover:after {
    color: #95a5a6
}
.tooltip-inner {
    background-color: #95a5a6;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #95a5a6
}
.tooltip.right .tooltip-arrow {
    border-right-color: #95a5a6
}
.tooltip.left .tooltip-arrow {
    border-left-color: #95a5a6
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #95a5a6
}
.pagination ul > li > a,
.pagination ul > li > span {
    background: #95a5a6;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background: #859394;
}
#comments .info h2 a:hover {
    color: #95a5a6
}
#comments a.reply-link:hover {
    color: #95a5a6
}
.icon-overlay a .icn-more,
.items li a .text-overlay {
    background-color: rgba(149, 165, 166, 0.92);
}
@media (max-width: 767px) { 
	.services .tab:hover .icon i.icn,
	.services .tab.active .icon i.icn {
	    color: #95a5a6 !important;
	    border: none;
	}
	.services .tab:hover h4,
	.services .tab.active h4 {
	    color: #95a5a6
	}
	.tabs-side .tab a:hover,
	.tabs-side .tab.active a {
	    color: #95a5a6
	}
}
