
/*Media*/
@media (max-width: 767px){
	h2 {
	line-height: 43px;
	}
}

.navbar-nav > li > a {
font-size: 13px;
}

.servicios-sub {
	font-size: 35px;
}

.nosotros-sub {
	font-weight: normal;
}

/*Colores de secciones*/
.verde {
background-color: #7AAF45;
}

.verde-claro {
background-color: #ABBE49;
}

.naranja{
background-color: #DCAD47;
}

.white {
	background-color: #fff;
}

.wine {
	background-color: #AA5C79;
}


.burn {
	color: #AC5C79;
}

.titular-verde {
color: #7AAF45;
}

.titular-verde-claro {
	color: #ABBE49;
}


.titular-naranja{
color: #DCAD47;
}

.titular-servicios {
color: #AA5C79;
}
.titular-white {
	color: #fff;
}

.seccion-texto-contacto {
	color: #fff;
    font-size: 18px;
    font-weight: 200;
}

.herramientas {
	background-color: #eee;
	position: relative;
    top: -1px;
}

.rounded {
	border-radius: 50%;
}

/*Texturas*/
.textura {
	background-color: #ccc;
	background-image: url("../images/textura.png");
}

/*Iconos*/
.icono-wrapper{
	position: relative;
	top: -48px;
}

/*Arrow*/
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.arrow-down-verde {
	border-top: 15px solid #7AAF45;
}
.arrow-down-naranja {
	border-top: 15px solid #DCAD47;
}

.arrow-down-verde-claro {
	border-top: 15px solid #ABBE49;
}

.arrow-down-wine {
	border-top: 15px solid #AA5C79;
}

/*General*/

.inner-top {
	padding-top: 40px;
}

.inner-bottom {
	padding-bottom: 40px;
}

.center {
	text-align: center;
}

.separador {
min-height: 2.9em;
}

.seccion-texto {
	color: #2C2C39;
	font-size: 18px;
	font-weight: 200;
}

.destacado {
	margin-top: 35px;
}

.servicios {
	background-color: #EDEDED;
}

.boton-wrapper {
	padding-top: 10px;
}

.boton-wrapper .btn {
position: relative;
top: 17px;
}

.objetivos-listado{
	margin: 35px 0;
	padding: 0;
}

.objetivos-listado li {
	display: inline;
	text-transform: uppercase;
	font-size: 15px;
	margin: 0 11px;
	font-weight: bold;
	color: #616161;
}

.objetivos-listado li:before {
    color: #ABBE49;
    content: "";
    display: inline-block;
    font-family: 'fontello-circle';
    font-size: 8px;
    font-weight: normal;
    margin-right: 10px;
    padding-top: 1px;
    vertical-align: top;
}


/*Banner*/

.ouiplay-bg {
background-color: rgba(40, 40, 59, 0.7);
padding: 10px;
border-radius: 3px;
}

/*destacados*/

.gamificacion-wrapper {
position: relative;
top: -35px;
}

.destacado-titulo {
font-size: 25px;
font-weight: 200;
font-style: italic;
color: #fff;
margin: 17px 0;
}

.destacado-servicios{
	color: #606060;
}

.texto-destacado {
color: #fff;
padding: 0 20px;
font-size: 17px;
font-weight: 200;
}


.texto-servicios {
	color: #525252;
}

.resaltado {
	font-size: 20px;
	color: #AAAAAA;
}

.destacado-servicios {
background-color: #fff;
}

.servicios-envio {
	border-top: 1px solid #eee;
	margin: 0 18%;
}

.objetivos-envio {
	/*border-top: 1px solid #9B9B9B;*/
	margin: 0 18%;
}

.objetivos-envio p {
	position: relative;
	top: 25px;
	color: #fff;
}

.objetivos-envio .btn {
margin-left: 10px;
}

.titular-contactar {
	color: #fff;
	font-size: 18px;
}

.nosotros {
background: #e5e5e5;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 46%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(46%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 46%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 46%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 46%); /* IE10+ */
background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 46%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.texto-nosotros{
	font-size: 16px;
}
.nosotros-visto {
	font-size: 20px;
	font-weight: bold;
	color: #555;
}

.titular-nosotros {
margin: 1.2em 0 0.1em 0;

}

.titular-nosotros-caja {
	background-color: rgba(0,0,0,0.3);
}

.titular-nosotros-white {
color: #fff;
}


.contacto {
	padding-top: 30px;
}

.mapa {
	height: 400px;
	background-image: url("../images/mapa.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

/*Parallax*/
#nos-gusta {
	background-image: url("../images/burbujas-u.jpg");
}

#nosotros-p {
	background-image: url("../images/nosotros-fondo.jpg");
}

.separador-tmp {
	height: 300px;
}

/*Formularios*/

.formularios {
	background-color: #fff;
}

.btn-rigth {
	float: right;
}

.alerta-no {
	display: none;
	-webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

.h-auto {
	height: 0;
}

/*Footer*/
.logo-footer {
	position: relative;
}

.inner-footer {
	padding-top: 20px;
}

.social-footer li {
	margin-right: 10px;
}

.footer-menu a:hover {
	color: #7AAF45;
}

/*Banner*/
.juego-texto-juego{
font-size: 48px;
color: #fff;
font-weight: bold;
}


.juego-texto {
font-size: 30px;
color:#bbb;
font-weight: 200;
}


/*Proyectos*/

.items-title {
    color:#7AAF45;
    text-transform: uppercase;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 28px;
}

.items-title span {
    font-weight: 300;
    font-size: 14px;
    color: #848484;
    letter-spacing: normal;
    position: relative;
    top: -3px;
}
.items-title span:before {
    display: inline-block;
    font-weight: 700;
    content: "|";
    padding: 0 10px 0 5px;
    color: #7AAF45;
}

.proyectos-slider .owl-slider-wrapper, .proyectos-slider .owl-controls {
    margin: 0;
}
.inner-proyecto {
	margin: 20px 0px;
}

.objetivos-wrapper {

}

/*Menu*/
#logo-resilente {
	padding-top: 9px;
	display: none;
}

/*Sonido*/
.sonido {
width: 40px;
height: 40px;
position: absolute;
top: 47%;
left: 47%;
}

.sub-footer {
 padding: 10px 0px;
}

.black-wrapper {
	background-color: rgba(48, 53, 56, 0.97);
}

.post-title {
font-size: 18px;
}

.post-title a:hover {
color: rgba(220, 173, 71, 0.99);
}

.btn-mini {
padding: 5px 10px 7px 12px;
}


.newsletter-footer input::-webkit-input-placeholder {
    color:    #888 !important;
   
}
.newsletter-footer input:-moz-placeholder {
    color:    #888 !important;
}


.btn-green:hover {
	opacity: 0.8;
}

.title-ouiplay {
	text-indent: -99999px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	position: absolute;
	top: 0;
	right: 0;
}

.creditos {
	background-color: #292D30;
	color: #6B6B6B;
	padding: 10px;
	font-size: 14px;
}

.creditos-textos a {
	color: #BEBCBC;
}
.creditos-textos a:hover {
	opacity: 0.7 !important;
}